.section1{


    
    display:flex;
    margin-left:70px;
    flex-direction: row;
    color: white;

}

.section1 h2{
    margin-top:80px;
    font-size:60px;
    width:600px;
    margin-left:30px;
    
}

.section1 p{

    width:550px;
    padding-top:60px;
    font-size:15px;
    margin-left:30px;
    color: var(--color-text);
}

.signing{
    padding-top:10px;
    margin-left:30px;
    
}



.signing #input{

    width:400px;
    height:35px;
    border : 1px;
   




}

.signing button{

    color: white;
    height:35px;
    background-color:  #FF4820;
    padding:10px;
    border:1px;
   
}

.gpt3__header-image img{

    width:100%;
    height: 100%;
}

.heading{


    margin-top : 70px;
}

.gpt3__header-content__people img{

    height:70%;



    
}

.gpt3__header-content__people{

    display:flex;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 25px;
    align-items: flex-end;

    
}



